<div>
  <h1 style="text-align:left;float:left;">Bicycles Index</h1>
  <br>
  <div style="float:right;">  OMFG....
    <button><%= link_to 'New Bicycle', new_bicycle_path %></button>
  </div>
</div>
<hr style="clear:both;"/>
  Click on the names of bikes or tags to add/edit/funsies
<hr style="clear:both;"/>

<div class="CSSTableGenerator" >
  <table>
    <tbody>
      <td>Make</td>
      <td>Model</td>
      <td>Tags on this bicycle</td>
      <td>Delete</td>

      <% @bicycles.each do |bicycle| %>
      <tr>
        <td><%= link_to "#{bicycle.make}", bicycle %></td>
        <td><%= bicycle.model %></td>

        <td><%= bicycle.tags.count %></td>

        <td><button><%= link_to 'Decimate', bicycle, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<br>
<%= render :partial => '/tags/index2' %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
