<div align="right">
  <button><%= link_to 'Edit', edit_bicycle_path(@bicycle) %></button> |
  <button><%= link_to 'Back', bicycles_path %></button> |
  <button onclick="getElementById('cheese').style.display = 'block'"> Click me to add tags to this bicycle. </button>
</div>
<br>

<!-- WHERE IS THIS SPACE ON LE MAYO -->
<div style="float: left">

<div id="pfour">
  <%= form_tag set_tags_bicycle_path(@bicycle), method: "post" %>
  <button type="submit">
    SUBMIT BUTTON
  </button>
  <div id="drop-target-one">
    <p>
      <strong>Make:</strong>
      <%= @bicycle.make %>
    </p>

    <p>
      <strong>Model:</strong>
      <%= @bicycle.model %>
    </p>

    <p>
      <strong>Tags:</strong>
      <%= render @bicycle.tags %>
    </p>
  </div>
</form>
</div>
</div>

<br>

<div class="cheese" id="cheese">

  <div style="float: right">
    <br>
    <%= render :partial => '/tags/index3' %>
    <br>
  <button>
    <%= link_to "I don't want to add tags", @bicycle %>
  </button>
    <br>
  </div>
</div>
