
<p>
  <strong>Make:</strong>
  <%= @bicycle.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @bicycle.model %>
</p>

<br>

<button><%= link_to 'Edit', edit_bicycle_path(@bicycle) %></button>
<div align="right", float="right">  <!-- i dont think that works... -->
  <button><%= link_to 'Back', bicycles_path %></button>

  <!-- THIS BUTTON TO CHANGE THE BOXES FROM HIDDEN TO WHATEVER -->
  <!-- <button><%= "Add tags to this bicycle!" %></button> -->


  <br>
  <br>
  <!-- <button id="show"><%= "button to show the stuff!" %></button> -->
  <!-- <button id="hide">Hide</button> -->
  <!-- <button id="show">Show</button> -->
  <button onclick="getElementById('cheese').style.display = 'block'"> Click me to add tags to this bicycle. </button>
  <!-- <button onclick="show-div()"> Show Above Div </button> -->

</div>

<!-- IF BUTTON CLICKED THING TO DISPLAY THIS  -->

<!-- <div style="display: none"> -->

<div class="cheese" id="cheese">


  <div style="display:inline-block, float:"right"">
    <!-- WHATEVER MANG -->
    <button>
      <%= link_to "I don't want to add tags", @bicycle %>
    </button>
  </div>



  <form action=":id" method="post">
    <div align="right">
      <button type="submit">
        SUBMIT BUTTON FOR ADDING THE TAGS ONCE THEY ARE DRAGGED INTO THE BOX
      </button>
      <div id="pthree">
        <div id="drop-target-one">
          <br>
          <br>
          <br>
          <br>
          <br>
          <div align="center">
            DROP THEM HERE TO APPLY THOSE TAGS
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </form>
    <br>
    <br>



    <%= render :partial => '/tags/index3' %>
    <br>
    <div id="hr2"></div>
    <br>
    <!-- </div> -->
  </div>

  <!-- these divs should be shwon next to one another not above and below -->




  

  <!-- /*<style> .hidden-div{ display:none } </style>*/ -->

  <!-- <div class="hidden-div"> You can't see me </div> -->



  <!--


  <br>



  <div class="hidden-div" id="hidden-div"> You can't see me </div>

  <button onclick="getElementById('hidden-div').style.display = 'block'"> Show Above Div </button> -->
</div>


<!-- THIS WAS IS IN THE UNTITLED TAB PREVIOUSLY ITS JUST AN EXAMPLE  -->
<!--
<input name="foo[]" value="1">
<input name="foo[]" value="another one"
<input name="foo[]" value="boo!">

params = {… , foo: ['1' 'another one', boo!]}

input name="tag_ids[]" value="1" -->
