<div align="right">
  <button><%= link_to 'Edit', edit_bicycle_path(@bicycle) %></button> |
  <button><%= link_to 'Back', bicycles_path %></button> |
  <button onclick="getElementById('cheese').style.display = 'block'"> Click me to add tags to this bicycle. </button>
</div>
<br>
<p>
  <strong>Make:</strong>
  <%= @bicycle.make %>
</p>
sdfghjkjhgfdfghj
<p>
  <strong>Model:</strong>
  <%= @bicycle.model %>
</p>

<div class="row" %>
  <%= @categories.map do |category|
    link_to category.name, '#', class: "category_choice", 'data-id': category.id
  end.join(' | ').html_safe %>
</div>
<div class="row">
  <div class="col-md-6">
    <%= form_tag set_tags_bicycle_path(@bicycle), method: "post" %>
      <button type="submit">
        SUBMIT BUTTON
      </button>
      <% @categories.each do |category| %>
        <div id="pfour-<%= category.id %>" class="hide_show">
          <div class="drop-target-one">
            <p>
              <strong><%= category.name %> Tags:</strong>
              <%= render @current_tags[category.id] if @current_tags[category.id] %>
            </p>
          </div>
        </div>
      <% end %>
    </form>
  </div>
  <div class="col-md-6">
    <% @categories.each do |category| %>
      <div id="tags_<%= category.id %>" class="hide_show drop-target-two" >
        <%= render @tags[category.id] if @tags[category.id] %>
      </div>
    <% end %>
  </div>
</div>
