<!DOCTYPE html>
<html>
<head>
  <title>rikitikitavi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body >
  <header>
    <h1><button id="hdrbttn"><%= link_to 'wikiBikes', bicycles_path %></button></h1>
    <div id="hr2"></div>
  </header>

  <div id="content">
    <p id="notice"><%= notice %></p>

    <%= yield %>
  </div>

</body>
</html>
